DATABASE_URL=
DB_DRIVER=
GEMINI_API_KEY=
MONGODB_URI=
NVIDIA_API_KEY=
NVIDIA_API_KEY_DEEPSEEK=
NVIDIA_API_KEY_GEMMA=
NVIDIA_API_KEY_GEMMA4=
NVIDIA_API_KEY_INKLING=
NVIDIA_API_KEY_MINIMAX=
NVIDIA_API_KEY_NEMOTRON=
REDIS_HOST=
REDIS_PORT=
SUPABASE_KEY=
SUPABASE_URL=
chatgpt_NVDIA_KEY=